* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header-section {
    background-image: linear-gradient(#370000, #ae0003);
    height: 6rem;
    padding: 5px 25px;
    box-shadow: 3px 1px 3px #222, -3px 1px 3px #222;
    z-index: 2;
    position: relative;
}

.col-2-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}

.col-3-container {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}

#header-section h1 {
    margin: 15px;
    color: #fff;
    font-size: 3rem;
}

#header-section ul {
    align-self: flex-end;
}

#header-section li {
    display: inline;
    color: #fff;
    margin: 25px 15px;
}

#header-section li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
}

#main-section {
    min-height: 45rem;
    background: url("../images/home02.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

#contact-section {
    min-height: 7rem;
    background-image: linear-gradient(#370000, #ae0003);
    padding: 0 25px;
    box-shadow: 3px 1px 3px #222, -3px 1px 3px #222;
    z-index: 2;
    position: relative;
}

.contact-us-h2 {
    font-size: 1.4rem;
    color: #fff;
}

#contact-us-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: #fff;
}

.contact-us-row-1 {
    display: flex;
}

.form-label-container {
    display: flex;
    flex-direction: column;
}

#contact-us-form input {
    height: 2rem;
    width: 14rem;
}

#contact-us-form button {
    height: 2.3rem;
    width: 28rem;
    background-color: rgba(0, 0, 0, 1.0);
    color: #fff;
    border: none;
    margin-top: 1px;
}

#cards-section {
    /* min-height: 30rem; */
}

.row-1 {
    min-height: 40rem;
    display: grid;
    grid-template: 1fr / 1fr 2fr;
    padding: 50px;
}

.col-1 {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-1 img {
    width: 40rem;
    height: 30rem;
    border-radius: 5%;
}

.col-2 {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-2-text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.col-2-text h2 {
    font-size: 2.0rem;
    margin-bottom: 1.5rem;
}

.col-2-text p {
    font-size: 1.2rem;
}

.row-2 {
    min-height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-2-col-1 {
    display: grid;
    grid-template: 1fr / 2fr 1fr;
    justify-content: center;
    align-items: center;
}

.row-2-col-1-text {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;
    align-self: center;
}

.row-2-col-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 2 / 2 / 3;
}

.footer-container {
    height: 3rem;
    background-image: linear-gradient(#370000, #ae0003);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 5px;
}

footer {
    color: #fff;
}