* {
    margin: 0;
    padding: 0;
}

#header-section {
    background-image: linear-gradient(#370000, #ae0003);
    height: 6rem;
    padding: 5px 25px;
    box-shadow: 3px 1px 3px #222, -3px 1px 3px #222;
    z-index: 2;
    position: relative;
}

.col-2-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px 0 50px;
}

#header-section h1 {
    margin: 15px;
    color: #fff;
    font-size: 3rem;
}

#header-section ul {
    align-self: flex-end;
}

#header-section li {
    display: inline;
    color: #fff;
    margin: 25px 15px;
}

#header-section li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
}

#main-section {
    min-height: 45rem;
    background: url("../images/home02.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

#contact-section {
    height: 6rem;
    background-image: linear-gradient(#370000, #ae0003);
    padding: 5px 25px;
    box-shadow: 3px 1px 3px #222, -3px 1px 3px #222;
    z-index: 2;
    position: relative;
}

.contact-us-h2 {
    font-size: 1.4rem;
    color: #fff;
}

#contact-us-form {
    display: flex;
    padding: 10px;
    color: #fff;
}

.form-label-container {
    display: flex;
    flex-direction: column;
}

#contact-us-form input {
    height: 1.75rem;
    width: 14rem;
}